<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css.css"/>
    </head>

    <body>

        <header>
            <div class="logo">.</div>
            <input type="type" name="name" placeholder="Введите для поиска">
        </header>

        <h2>Сотрудники</h2>
        <div class="scrolX">

            <div class="carusel" id="carusel">

            </div>

        </div>

        <div class="mainDiv">

            <div class="CalendarAndEvent">

                <div class="Calendar">
                    <h2>Календарь событий</h2> 

                    <div class="CalendarHeader">
                        <button><</button>
                        <span>Февраль 2025</span>
                        <button>></button>
                    </div>

                    <div class="CalendarBody">
                        <div class="CalendarGrid">

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>

                        </div>
                    </div>

                </div>

                <div class="EventDiv">
                    <h2>События</h2> 

                    <div class="ScrolY">
                        <div class="Event" id="Event">

                        </div>
                    </div>
                </div>

            </div>

            <div class="NewsDiv">
                <h2>Новости</h2>
                <div class="news" id="news">
                    
                </div>
            </div>

        </div>

    </body>
    <script src="/js.js"></script>
</html>
